<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instructor List</title>
  <link rel="stylesheet" href="../assets/css/inst.css">

</head>
<body>
  
 
  <header>
    
    <div class="logo">CodeCraft</div>
    <nav>
        <ul>
           <li><a href="../index.html">Home</a></li>
            <li><a href="../pages/courseCatalog.html">Courses</a></li>
            <li><a href="../pages/forum.html" class="active">Forum</a></li>
            <li><a href="../pages/progress.html">Progress</a></li>
            <li><a href="../pages/login.html">Account</a></li>
        </ul>
    </nav>

</header>
<center><h1 class="page-title">Instructor Profile</h1></center>
  <section class="instructor-list">
    <!-- Instructor 1 -->
   
      <div class="instructor-card">
        <div class="card-header cover"></div>
        <div class="card-body">
          <img src="../assets/image/swarna.jpg" alt="Profile Picture" class="profile-pic small">
          <h3>Farhina Parvin</h3>
          <div class="rating">
            ⭐⭐⭐⭐☆ <span>4.0 (26)</span>
          </div>
          <p class="courses">12 Courses</p>
        </div>
      </div>
  
   

    <!-- Instructor 2 -->
    <div class="instructor-card">
      <div class="card-header cover"></div>
      <div class="card-body">
        <img src="../assets/image/mahim.jpeg" alt="Profile Picture" class="profile-pic small">
        <h3>Aminul Islam</h3>
        <div class="rating">
          ⭐⭐⭐⭐☆ <span>4.0 (20)</span>
        </div>
        <p class="courses">8 Courses</p>
      </div>
    </div>

       <!-- Instructor 3 -->
       <div class="instructor-card">
        <div class="card-header cover"></div>
        <div class="card-body">
          <img src="../assets/image/upoma.jpeg" alt="Profile Picture" class="profile-pic small">
          <h3> Upoma das</h3>
          <div class="rating">
            ⭐⭐⭐⭐☆ <span>4.0 (20)</span>
          </div>
          <p class="courses">8 Courses</p>
        </div>
      </div>

         <!-- Instructor 4 -->
    <div class="instructor-card">
      <div class="card-header cover"></div>
      <div class="card-body">
        <img src="../assets/image/sanjil.jpeg" alt="Profile Picture" class="profile-pic small">
        <h3>Sanjil Hossain</h3>
        <div class="rating">
          ⭐⭐⭐⭐☆ <span>4.0 (20)</span>
        </div>
        <p class="courses">8 Courses</p>
      </div>
    </div>
  </section>

  <script src="instructors.js"></script>
</body>
</html>
