<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instructor Dashboard</title>
  <link rel="stylesheet" href="../assets/css/instructorDashBoard.css">
</head>
<body>
  <header>
        <div class="logo">CodeCraft</div>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../pages/courseCatalog.html">Courses</a></li>
                <li><a href="../pages/forum.html" class="active">Forum</a></li>
                <li><a href="../pages/progress.html">Progress</a></li>
                <li><a href="../pages/login.html">Account</a></li>
            </ul>
        </nav>  
    </header>
</body>
</html>